html, body{
	width: 100%;
	height: 100%;
}

body{
	background-color: #282e50;
}
.title{
	margin: 5px;
	color: white;
}
.input-group{
	margin: 20px 0;
}
.text-t{
	text-align: center;
}